body {
  margin: 0;
}
div {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 5fr;
  background: lightyellow;
}
aside {
  border: 1px solid red;
  height: 100vh;
}
main {
  border: 1px solid blue;
}
